*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

form{
    margin: 30px auto;
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form fieldset{
    padding: 20px 40px;
    border: 1px solid #ccc;
}

form legend{
    font-size: 17px;
    color: rgb(78, 78, 78);
}

form input[type=text]{
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    border: 1px solid #ccc;
}
form input[type=text]:focus, form select:focus, form textarea:focus{
	outline: 0;
}

form select{
    font-family: tahoma;
    color: rgb(107, 104, 104);
    width: calc(80% + 26px);
    margin-top: 30px;
    display: inline-block;
    padding: 10px 13px;
    border: 1px solid #ccc;
}

/*
form select option[disabled]{
    color: orange;  
}
*/

form select:hover{
    border: 0;
}

/*
form select option:nth-of-type(3){
    color: red;
}
*/

form h2{
    margin-top: 20px;
    color: rgb(109, 107, 107);
}
.input{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}
.input span{
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

form input[type=submit]{
    font-family: tahoma;
    margin-top: 30px;
    border: 0;
    width: 140px;
    height: 40px;
    color:white;
    background-color: rgb(141, 141, 141);
    font-size: 16px;
    border: 2px solid rgb(130, 130, 130);
    cursor: pointer;
}
form textarea{
    font-family: tahoma;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    resize: none;
    border: 1px solid #ccc;
    height: 140px;
}